* {
	/* box-sizing: border-box; */
	padding: 0;
	margin: 0;
	background-color: aquamarine;
}

.ex-1, .ex-2, .ex-3, .ex-4, .ex-5, .ex-6 {
	flex-direction: column;
	display: flex;
	margin-top: 30px;
	margin-left: 30px;
}

.ex-1 {
	width: 100px;
	height: 100px;
	background: yellow;
	transition: ease 2s;
}

.ex-1:hover{
	background: blue;

}

.ex-2 {
	width: 100px;
	height: 100px;
	background: greenyellow;
	transition: width 2s;
}

.ex-2:hover {
	width: 300px;
}

.ex-3 {
	width: 100px;
	height: 100px;
	background: black;
	transition: width 2s, height 2s, transform 2s;
}

.ex-3:hover {
	width: 300px;
	height: 300px;
	transform: rotate(180deg);
}

.ex-4 {
	width: 100px;
	height: 100px;
	background: orange;
	transition: all .3s linear;
}

.ex-4:hover {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transform: rotate(180deg);
}

.ex-5 {
	width: 100px;
	height: 100px;
	background: brown;
	transition-timing-function: ease-out;
	transition-duration: 2s;
}

.ex-5:hover {
	width: 50px;
	height: 50;
	border-radius: 50%;
	transform: rotate(180deg);
}

.ex-6 {
	width: 100px;
	height: 100px;
	background: purple;
	transition: cubic-bezier(0.895, 0.03, 0.685, 0.22)	
}

.ex-6:hover {
	width: 500px;
}