body {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 170px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  img {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.columns {
  display: flex;
}

.left-side, 
.right-side {
  font-size: larger;
  margin: 0;
}

.left-side {
  width: 30%;
  padding: 15px;
  background-color: #979BA3;
}

.right-side {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}


