body {
    border: 1px solid black;
    margin: 75px 300px;
    padding: 10px 40px 50px 40px;
}

caption {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 20px 10px 20px;
}

table {
    border-top: 4px solid grey;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid grey;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    /* border-collapse: collapse;  Remembered you could skip this by placing it in the table selector*/
}

.verti {
    /* Tried to use webkit but it on rotated the word 90 degrees
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); */
    display: block;
    width: 0.9em;
    word-break: break-all;
    padding-left: 40%;
    font-size: larger;
    font-weight: bold;
}