html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato, sans-serif";
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.img-1, .img-2, .img-3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.img-1 {
    background-image: url("./images/prekestolen.jpg");
    min-height: 100%;
}

.img-2 {
    background-image: url("./images/fjord.jpg");
    min-height: 400px;
}

.img-3 {
    background-image: url("./images/landskap.jpg");
    min-height: 400px;
}


.section {
    text-align: center;
    padding: 50px 80px;
    
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.img-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.img-text2 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #f4f4f4;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

@media(max-width:568px) {
    .img-1, .img-2, .img-3 {
        background-attachment: scroll;
    }
}